<% provide(:title, "Home") %>
  	<h1>Members Only Site</h1>
  	<p>
  		This is the home page for our Members Only website, a place where gossip is encouraged. Non members will be able to read the posts but only members will be authorised to write in here and will know who the other members are.
  	</p>

  	<p>
  		This exercise is part of the fantastic
  		<a href="https://www.theodinproject.com"> Odin Project </a>website. I hope to see you there soon!
  	</p>
