<div style="background:transparent !important" class="center jumbotron">
	<h1>Hello strangers!</h1>
	<h2>Feel free to read our secrets.</h2>
	<h2>To better enjoy the experience and get to know the other members we recommend you sign up.</h2>
	<div class="centered">
		<br>
		<%= link_to "Signup", new_user_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>